<template name="item">
      <body id="bg">
    <nav class="navbar-default transparent navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">Giving Tree</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li><a href="{{pathFor 'interface'}}">Create New List</a></li>
            {{/if}}
            {{> loginButtons}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br /><br />
    <div class="container">
      <br /><br />
      <div class="panel panel-default">
        <center>
  <h2>{{school}} - {{teacherName}}</h2>
  <h3>{{schoolAddress}} - {{schoolCity}} - {{schoolState}} - {{schoolZip}} - {{schoolPhone}}</h3>
  <p>List:</p>{{#each List}}<li>{{name}}</li>{{/each}}
  <br />
  <a href="{{pathFor ':_id/send'}}"><button class="btn btn-success">Fund Now</button></a>
  <br /><br /><br />
  </center>
</div>
</div>

    
  </body>
</template>